etcd:
  address:
  - http://localhost:2379
logger:
  level: debug
server:
  name: core
  app_id: core
  app_port: 6789
  coroutine_pool_size: 500
proxy:
  name: core0
  http_port: 20000
  grpc_port: 20001
components:
  store:
    name: dapr
    properties:
      - key: store_name
        value: core-state
  time_series:
    name: influxdb
    properties:
      - key: url
        value: http://tkeel-core-influxdb:8086
      - key: token
        value: tr2zy29F1Tusl8bkBwOR
      - key: org
        value: tkeel
      - key: bucket
        value: core   

dispatcher:
  id: dispatcher0
  enabled: true
  name: core-dispatcher
  queues:
    - id: upstream1
      name: upstream1
      type: dapr
      consumer_type: dispatcher 
      metadata:
        - key: pubsub_name
          value: cluster-pubsub
        - key: topic_name
          value: cluster-pub
    - id: core-queue1
      name: core-queue1
      type: dapr
      consumer_type: core
      metadata:
        - key: pubsub_name
          value: core-pubsub
        - key: topic_name
          value: core-inner