name: main
on:
  push:
    branches:
      - master
      - main
      - dev
  pull_request:
    branches:
      - master
      - main
jobs:
  call-lint-test-build:
    uses: uptutu/core/.github/workflows/public_call.yml@fix/action