name: on release created
on:
  release:
    types: [ created ]
jobs:
  call_lint_test_build:
    name: Run lint test and build
    uses: uptutu/core/.github/workflows/public_call.yml@fix/action
    with:
      archive_outdir: 'dist/archivers'
      go_version: '1.17.3'

  upload:
    name: Upload release files
    needs:
      - release
      - build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        project:
          - '*'
    steps:
      - name: Download Artifact
        id: download
        uses: actions/download-artifact@v2
        with:
          name: my-artifact
          path: 'dist/archivers'

      - name: Upload release binaries
        uses: alexellis/upload-assets@0.2.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          asset_paths: '["${{ steps.download.outputs.download-path }}/${{ matrix.project }}"]'